html, body {
    height: 100%;
    padding: 10px;
    margin: 30px;
}
body {
    font-family: Arial, sans-serif;
    font-size: 1.3em;
    margin: 0;
    text-align: justify; /* Justify the text for clean edges on both sides */
    /* padding: 10px 20px; */
    line-height: 1.5;
}

header {
    background-color: #0d83b6e8;
    text-align: center;
    padding: 20px 0;
    color: whitesmoke;
}
header h1 {
    font-size: 48px;
    margin: 20px 20px;
    text-align: centre;
    padding-bottom: 50px;
    
}
h2{
    color: rgb(18, 77, 139);
}
h3{
    color: rgb(18, 77, 139);
}
li{
    cursor: pointer;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    border-top: 1px solid navy;
    border-bottom: 1px solid navy;
    
    
}
nav ul li {
    display: inline;
    margin: 0 15px;
    
}


nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
}

footer {
     /* position: fixed; */
    height: 50px;
    background-color: #333;
    color: white;
    text-align: center;
    line-height: 50px; /* Center the text vertically */
    margin-top: 10%;
    background-color: #0d83b6e8;

}
/* Download Btn */
.downloadbtn {
    float: right;
    margin-bottom: 100px;

}
#downloadReportBtn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 8px;
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
}
#downloadDataBtn {
    background-color: rgb(21, 192, 46);
    border: none;
    color: white;
    padding: 8px;
    cursor: pointer;
    font-size: 20px;
}
/* data dash */

.block-link {
    text-decoration: none; /* Removes the underline from links */
    color: inherit; /* Keeps the text color consistent with the rest of the page */
    display: inline-block; /* Makes the link display as a block */
    width: 25%;
}

.block {
   
    padding: 20px;
    border: 0.5px solid #cfcfcf; /* Example border */
    background-color: #f5f5f5; /* Example background color */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    margin-right: 20px;
    display: flexbox;

}

.block:hover {
    background-color: #e8e8e8; /* Slightly darker background on hover */
}

.dashboard-button {
    display: block;
    margin: 10px 0;
    padding: 10px 20px; 
    background-color: #ffffff;
    color: rgb(0, 0, 0); /* Text color */
    border: none;
    border-radius: 4px; /* Rounds the corners */
    cursor: pointer; /* Changes the mouse cursor to a pointer */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    font-size: 1em;
}

/* .dashboard-button:hover {
    background-color: #005ba1;
} */